<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>個人簡介</h1>
    </div>
    <div class="col-md-4">
      <br>
      <% if @user.avatar.url %>
        <div class="text-center">
          <%= image_tag @user.avatar.url, class: "img-responsive img-rounded" %>
        </div>
      <% end %>
      <div class="well">
        <ul class="list-unstyled">
          <li><%= @user.name %></li>
          <li><%= @user.email %></li>
          <li><%= @user.intro %></li>
          <%= link_to 'Edit', edit_user_path(current_user), class: "btn btn-primary"%>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel panel-default">
      <h1> 評論過餐廳 </h1>
      <div class="panel-body">
        <% @commented_restaurants.uniq.each do |restaurant| %>
          <div class="col-sm-6 col-md-4">
            <%= link_to restaurant_path(restaurant) do %>
            <div class="my-restaurant">
              <%= image_tag restaurant.image.url, class: "img-responsive" %>
              <div class="caption">
                <h3><%= link_to restaurant.name %></h3>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <h1> 收藏的餐廳 </h1>
      <div class="panel-body">
        <% @favorited_restaurants.uniq.each do |restaurant| %>
          <div class="col-sm-6 col-md-4">
            <%= link_to restaurant_path(restaurant) do %>
            <div class="my-restaurant">
              <%= image_tag restaurant.image.url, class: "img-responsive" %>
              <div class="caption">
                <h3><%= link_to restaurant.name %></h3>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <h1> followings </h1>
      <div class="panel-body">
        <% @followings.uniq.each do |user| %>
          <div class="col-sm-6 col-md-4">
            <%= link_to user_path(user) do %>
            <div class="my-restaurant">
              <%= image_tag user.avatar.url, class: "img-responsive" %>
              <div class="caption">
                <h3><%= link_to user.name %></h3>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <h1> followers </h1>
      <div class="panel-body">
        <% @followers.uniq.each do |user| %>
          <div class="col-sm-6 col-md-4">
            <%= link_to user_path(user) do %>
            <div class="my-restaurant">
              <%= image_tag user.avatar.url, class: "img-responsive" %>
              <div class="caption">
                <h3><%= link_to user.name %></h3>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back to index', root_path %>
  </div>
</div>
